%article
  - if @article.deprecated?
    %p#deprecated.alert
      %em This article is deprecated.
      I've marked this article as deprecated.
      It is either because the gem or plugin discussed in this article is no longer maintained, or I've changed my opinion on it.
      This article is here only as an historic reference.
  - if @article.old?
    %p#old.notice
      %em This article is quite old.
      Time flies when you're having fun.
      I've been writing for my blog for a long time.
      Stuff changes fast, especially in the Ruby world.
      That's why I've put this warning on old posts.
      The article might still be valid, though.
  %h2
    %a{href: @article.url, id: @article.id, rel: 'bookmark'}= @article.title

  = haml :_time

  - if @article.contents.toc?
    %aside.toc
      %nav
        %ul
          %li
            %a{href: "##{@article.id}"} Introduction
          - @article.contents.toc.each do |item|
            %li= item
          %li
            %a{href: "#comments"} Discussion

  = @article.contents.html

%section#comments

  %aside#twitter
    %a{href: "http://twitter.com/share", class: "twitter-share-button", data: { count: "vertical", via: "iain_nl", text: @article.title, url: "#{request.scheme}://#{request.host}#{@article.url}"}} Tweet
    %script(type="text/javascript" src="http://platform.twitter.com/widgets.js")

  <div id="disqus_thread"></div>
  :javascript
    var disqus_shortname  = 'iain';
    var disqus_identifier = '#{@article.disqus_id}';
    var disqus_url        = 'http://#{request.host}/#{@article.url}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
